---
import CallToAction from "../components/CallToAction.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---
<script>
    var acc = document.getElementsByClassName("accordion");
    var i:number;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function(this:any) {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            var icono = null;
            for (var x = 0; x < this.childNodes.length; x++) {
                if (this.childNodes[x].className == "icono") {
                    icono = this.childNodes[x];
                    if(icono.innerHTML == "+"){
                        icono.innerHTML = "-"
                    }else{
                        icono.innerHTML = "+"
                    }
                    break;
                }        
            }

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
    }
</script>

<script>
    var button1 = document.getElementById('btn1')
    var button2 = document.getElementById('btn2')
    var button3 = document.getElementById('btn3')
    var button4 = document.getElementById('btn4')
    var button5 = document.getElementById('btn5')
    var button6 = document.getElementById('btn6')
    var button7 = document.getElementById('btn7')
    var button8 = document.getElementById('btn8')

    var titleDest = document.getElementById('titleDest');
    var descriptionDest = document.getElementById('descriptionDest');
    var background = document.getElementById('background');

    button1?.addEventListener('click', () => {
        if(titleDest && descriptionDest){
            titleDest.innerHTML = "Videotoscopia"
            descriptionDest.innerHTML = "Podràs veure en directe l’exploració del teu canal auditiu, enregistrem imatges, si cal per adjuntar al teu informe."
            button1?.classList.remove("bg-white")
            button1?.classList.add("bg-[#4C6663]")
            button1?.classList.add("text-white")

            button2?.classList.add("bg-white", "text-black")
            button2?.classList.remove("text-white")
            button3?.classList.add("bg-white", "text-black")
            button3?.classList.remove("text-white")
            button4?.classList.add("bg-white", "text-black")
            button4?.classList.remove("text-white")
            button5?.classList.add("bg-white", "text-black")
            button5?.classList.remove("text-white")
            button6?.classList.add("bg-white", "text-black")
            button6?.classList.remove("text-white")
            if(background)
                background.style.backgroundImage = "url(imgs/audiologia/phonak3.jpg)"
        }
    });

    button2?.addEventListener('click', () => {
        if(titleDest && descriptionDest){
            titleDest.innerHTML = "Audiometria tonal liminal via aerea"
            descriptionDest.innerHTML = "Prova acurada del que escoltes per via aèrea  amb cascos o amb auriculars d’inserció i el que arribes a escoltar més fi en cada freqüència de l’espectre audible humà."
            button2?.classList.remove("bg-white")
            button2?.classList.add("bg-[#4C6663]")
            button2?.classList.add("text-white")

            button1?.classList.add("bg-white", "text-black")
            button1?.classList.remove("text-white")
            button3?.classList.add("bg-white", "text-black")
            button3?.classList.remove("text-white")
            button4?.classList.add("bg-white", "text-black")
            button4?.classList.remove("text-white")
            button5?.classList.add("bg-white", "text-black")
            button5?.classList.remove("text-white")
            button6?.classList.add("bg-white", "text-black")
            button6?.classList.remove("text-white")
            if(background)
                background.style.backgroundImage = "url(imgs/audiologia/phonak1.jpg)"
        }
    });

    button3?.addEventListener('click', () => {
        if(titleDest && descriptionDest){
            titleDest.innerHTML = "Audiometria tonal liminal via òssia"
            descriptionDest.innerHTML = "Prova acurada del que escoltes per via òssia i el que arribes a escoltar més fi en cada freqüència de l’espectre audible a través d’una diadema auditiva que transmet el so per vibració."
            button3?.classList.remove("bg-white")
            button3?.classList.add("bg-[#4C6663]")
            button3?.classList.add("text-white")

            button1?.classList.add("bg-white", "text-black")
            button1?.classList.remove("text-white")
            button2?.classList.add("bg-white", "text-black")
            button2?.classList.remove("text-white")
            button4?.classList.add("bg-white", "text-black")
            button4?.classList.remove("text-white")
            button5?.classList.add("bg-white", "text-black")
            button5?.classList.remove("text-white")
            button6?.classList.add("bg-white", "text-black")
            button6?.classList.remove("text-white")
            if(background)
                background.style.backgroundImage = "url(imgs/audiologia/phonak6.jpg)"
        }
    });

    button4?.addEventListener('click', () => {
        if(titleDest && descriptionDest){
            titleDest.innerHTML = "UCL - Llindar de discomfort"
            descriptionDest.innerHTML = "També ens interessa saber quins son els sons que et molesten, així ajustarem els teus audiòfons i mai rebràs sons molestos ni que provoquin dany acústic."
            button4?.classList.remove("bg-white")
            button4?.classList.add("bg-[#4C6663]")
            button4?.classList.add("text-white")

            button1?.classList.add("bg-white", "text-black")
            button1?.classList.remove("text-white")
            button2?.classList.add("bg-white", "text-black")
            button2?.classList.remove("text-white")
            button3?.classList.add("bg-white", "text-black")
            button3?.classList.remove("text-white")
            button5?.classList.add("bg-white", "text-black")
            button5?.classList.remove("text-white")
            button6?.classList.add("bg-white", "text-black")
            button6?.classList.remove("text-white")
            if(background)
                background.style.backgroundImage = "url(imgs/audiologia/phonak7.jpg)"
        }
    });

    button5?.addEventListener('click', () => {
    if(titleDest && descriptionDest){
        titleDest.innerHTML = "Logoaudiometria"
        descriptionDest.innerHTML = "Aquesta prova ens interessa per entendre com és la teva intel·ligibilitat en cada barem d’intensitat sonora en decibels dB. Ens informe de l’estat de la via retro-coclear auditiva i ens ajuda a ajustar les expectatives de la teva rehabilitació."
        button5?.classList.remove("bg-white")
        button5?.classList.add("bg-[#4C6663]")
        button5?.classList.add("text-white")

        button1?.classList.add("bg-white", "text-black")
        button1?.classList.remove("text-white")
        button2?.classList.add("bg-white", "text-black")
        button2?.classList.remove("text-white")
        button3?.classList.add("bg-white", "text-black")
        button3?.classList.remove("text-white")
        button4?.classList.add("bg-white", "text-black")
        button4?.classList.remove("text-white")
        button6?.classList.add("bg-white", "text-black")
        button6?.classList.remove("text-white")
        if(background)
            background.style.backgroundImage = "url(imgs/audiologia/phonak8.jpg)"
        }
    });

    button6?.addEventListener('click', () => {
    if(titleDest && descriptionDest){
        titleDest.innerHTML = "Timpanometria"
        descriptionDest.innerHTML = "Gràcies a la nova electromedicina et podem fer valoracions avançades de l’estat del timpà i de la orella mitjana."
        button6?.classList.remove("bg-white")
        button6?.classList.add("bg-[#4C6663]")
        button6?.classList.add("text-white")

        button1?.classList.add("bg-white", "text-black")
        button1?.classList.remove("text-white")
        button2?.classList.add("bg-white", "text-black")
        button2?.classList.remove("text-white")
        button3?.classList.add("bg-white", "text-black")
        button3?.classList.remove("text-white")
        button5?.classList.add("bg-white", "text-black")
        button5?.classList.remove("text-white")
        if(background)
            background.style.backgroundImage = "url(imgs/audiologia/phonak5.jpg)"
        }
    });

</script>

<Layout title="Dos Òptics | Estudi auditiu">
    <Hero title1="Estudi auditiu" title2="Avançat" backgroundImage="audiologia/audiologia1.jpg" text="Estudiem amb cura cada cas i donem una solució personalitzada que s’adapti a les necessitats, el pressupost i les preferències estètiques de cada persona. A més a més, és important fer un seguiment de qualitat per acabar d’ajustar els audiòfons per aconseguir una eficiència superior."/>
    <section class="flex flex-col items-center justify-center w-full p-8 lg:p-12">
        <h2 class="text-4xl pb-12 md:pb-20 md:text-5xl">Metodologia basada en:</h2>
        <ul class="text-3xl md:text-4xl flex flex-col space-y-4">
            <li class="relative"><span class="main_green_text font-bold absolute">01</span><span class="pl-12 md:pl-16">Estudi auditiu</span></li>
            <span class="bg-gray-400 w-full h-px"></span>
            <li class="relative"><span class="main_green_text font-bold absolute">02</span><span class="pl-12 md:pl-16">Disseny d’una solució personalitzada</span></li>            
            <span class="bg-gray-400 w-full h-px"></span>
            <li class="relative"><span class="main_green_text font-bold absolute">03</span><span class="pl-12 md:pl-16">Avaluació de resultats</span></li>
            <span class="bg-gray-400 w-full h-px"></span>
            <li class="relative"><span class="main_green_text font-bold absolute">04</span><span class="pl-12 md:pl-16">Acompanyament, revisions i seguiment</span></li>
        </ul>
    </section>

    <section class="flex flex-col items-center justify-center w-full pt-20">
        <h2 class="text-4xl pb-12 md:text-5xl">Estudi auditiu</h2>
        <div class="flex flex-col md:flex-row bg-[#F6F6F6] min-h-[500px] w-full">
            <div class="flex flex-col space-y-4 md:w-1/2 p-6 lg:p-12">
                <p>No fem una audiometria senzilla per saber l’estat de la teva escolta sinó que fem proves avançades amb l’ajuda de la nostra electromedicina.</p>
                
                <button class="bg-[#4C6663] text-white hover:text-white hover:bg-[#4C6663] transition p-2 lg:w-96 rounded shadow" id="btn1">Videotoscopia</button>
                <button class="bg-white hover:text-white hover:bg-[#4C6663] transition p-2 lg:w-96 rounded shadow" id="btn2">Audiometria tonal liminar via aerea</button>
                <button class="bg-white hover:text-white hover:bg-[#4C6663] transition p-2 lg:w-96 rounded shadow" id="btn3">Audiometria tonal liminar via òssia</button>
                <button class="bg-white hover:text-white hover:bg-[#4C6663] transition p-2 lg:w-96 rounded shadow" id="btn4">UCL - Llindar de discomfort</button>
                <button class="bg-white hover:text-white hover:bg-[#4C6663] transition p-2 lg:w-96 rounded shadow" id="btn5">Logoaudiometria</button>
                <button class="bg-white hover:text-white hover:bg-[#4C6663] transition p-2 lg:w-96 rounded shadow" id="btn6">Timpanometria</button>
                <b class="pt-4">També oferim informes complets per al metge i otorrino</b>
            </div>
            <div class="relative h-96 md:h-auto md:w-1/2 text-white bg-center bg-cover" style={`background-image: url(/imgs/audiologia/phonak3.jpg)`} id="background">
                <div class="left-0 absolute flex flex-col justify-center bg-black/40 w-full h-full p-8">
                    <b class="text-[#BBFF00] pb-2 mt-20" id="titleDest">Videotoscopia</b>
                    <p id="descriptionDest" class="xl:w-1/2">Podràs veure en directe l’exploració del teu canal auditiu, enregistrem imatges, si cal per adjuntar al teu informe.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-[#4C6663] flex flex-col md:flex-row items-center justify-center md:space-x-12 w-full p-8 pt-20 pb-20">
        <div class="md:w-1/2 text-white flex flex-col">
            <h2 class="main_green_text text-4xl pb-6 md:text-5xl">Disseny d’una solució personalitzada</h2>
            <h3 class="text-3xl pb-4">Un cop duta a terme tota l’avaluació, implementem els recursos oportuns per cobrir les teves necessitats i oferir-te una solució auditiva específica. </h3>
            <div class="flex flex-col space-y-4">
                <p class="text-base ">Per fer-ho, prenem mesures mitjançant motlles o carcasses a la teva mida i així podem aconseguir un audiòfon amb un acabat més ajustat i estètic.</p>
                <p class="text-base">Et facilitarem uns audiòfons de prova que anirem adaptant setmana rere setmana per ajustar-nos a una adaptació còmoda i apropiada en cada cas. </p>
                <p class="text-base">Començaràs a reconeixer sons que feia molt de temps que no escoltaves i mica en mica anirem aproximant el guany auditiu que necessites a cada entorn auditiu que tinguis el dia a dia.</p>
            </div>
        </div>
        <div class="pt-12 md:pt-0">
            <img src="imgs/audiologia/audiologia1_sm.jpg" alt="Audiologia 1" class="w-80 rounded-2xl rotate-[-0.142rad] lg:ml-16">
            <img src="imgs/audiologia/phonak1_sm.jpg" alt="Audiologia 2" class="w-80 rounded-2xl rotate-[0.142rad]">
        </div>
    </section>
    
    <section class="flex flex-col md:flex-row items-center justify-center md:space-x-20 w-full p-8 lg:p-20">
        <img src="imgs/audiologia/phonak2.jpg" alt="Avaluació resultats" class="w-96 rounded-2xl">
        <div class="flex flex-col justify-center md:w-1/2">
            <h2 class="text-4xl md:text-5xl pb-6 pt-8 md:pt-0">Avaluació de resultats</h2>
            <p>Tria de la solucio recomandada ajustant-nos al pressupost i a les espectatives</p>
        </div>
    </section>

    <section class="relative min-h-[850px] pt-20 bg-cover bg-center" style=`background-image: url(/imgs/audiologia/phonak5.jpg)`>
        <div class="absolute top-0 flex flex-col items-center justify-center bg-black/50 text-white w-full h-full p-8">
            <div class="flex flex-col items-center text-4xl md:text-5xl lg:w-1/2 bg-[#4C6663]/70 rounded-3xl p-4 md:p-8">
                <h2 class="text-center">Acompanyament i seguiment</h2>
                <p class="text-base mt-8">Realitzarem revisions periòdiques per assegurar el correcte funcionament dels teus audiòfons i adaptar-los a les teves necessitats, ja sigui per manteniment i ajustaments, canvis de filtres o bé revisions de confort i eficiència.</p>
                <p class="main_green_text text-base mt-8">Et sentiràs acompanyat i avaluat de manera contínua, amb la tranquil·litat de saber que ens ocupem per tu de la teva salut auditiva.</p>
            </div>
        </div>
    </section>

    <section class="w-full flex flex-col items-center justify-center pb-12 pt-12 xl:p-20">
        <h2 class="text-4xl md:text-5xl pb-12">Preguntes freqüents</h2>
        <div class="w-full p-4 xl:p-0 xl:w-3/4 rounded-2xl overflow-hidden text-sm md:text-base">
            <button class="accordion">
                <p class="w-3/4">Puc acompanyar al meu pare a fer les proves?</p>
                <p class="icono">+</p></button>
            <div class="panel">
                <p>Si, la nostra sala ens permet fer les proves amb un acompanyant sense problemes</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Quan s’espatllin els audiòfons que he adquirit, em quedaré sense escoltar?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Farem les reparacions i no et deixarem sense escoltar, perquè els nostres clients gaudeixen d’audiòfons de prova d’alta gamma mentre estiguem reparant els teus.</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Per què no puc dur un audiòfon invisible?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Si el teu metge especialista o un altre professional considera que no pots dur uns audiòfons petits pot ser per diverses causes: Perquè tens una pèrdua auditiva que no permet un auricular dels petits. Perquè tens un conducte auditiu molt petit, molt corbat o bé amb alguna afectació que posi en perill la teva salut auditiva. Perquè l’excés de cerumen ho contraindiqui. També és important l’anatomia del conducte, deixa’t aconsellar per la nostra experiència, el més important és poder escoltar i entendre bé el teu entorn i els teus, comunicar-te i en definitiva gaudir dels sons de la vida.</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Es pot cuidar l’excés de cera?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Els taps de cerumen són acumulacions de cerumen o partícules externes que han entrat al conducte auditiu extern. Si no s’extreuen, poden provocar pèrdua d’audició temporal (hipoacúsia).
                    El cerumen és una substància groguenca, semblant a la cera d’abella, segregada per unes glàndules que recobreixen la part externa del conducte auditiu. La seva funció és netejar, hidratar i protegir les orelles de la pols i d’altres partícules que poden danyar el timpà (membrana que separa l’orella externa de l’orella mitjana), i dels bacteris que causen infeccions.
                </p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Per que es formen taps de cera?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>En la majoria de casos, la formació de taps de cerumen és fruit de l’intent de la persona per extreure’ls manualment o de mals hàbits, com ara un ús incorrecte dels bastonets de cotó. El millor lloc per eliminar-los és al centre sanitari, mitjançant una tècnica controlada que pot ser senzilla, ràpida i indolora.
                    <b>NOSALTRES TENIM SPRAYS ESPECÍFICS PER AJUDAR A DRENAR EL CERUMEN I EVITAR LELS TAPS</b>
                </p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Puc ajustar per mi uns audifons d’un familiar?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Podem valorar aquesta opció. De vegades cal canviar alguna peça, però no és del tot impossible re-aprofitar uns audiòfons.</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Feu reparacións?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Efectivament, treballem amb diversos laboratoris per reparar la majoria de marques del mercat. Valorarem el teu cas i si no està obsolet trobarem la solució.</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Es pot fer prevenció de danys auditius?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Sí, mitjançant protectors fets a mida amb filtres específics. Molt útils per si al treball t'exposes a sons forts i continuats.</p>
            </div>
        </div>
   </section>
    <CallToAction title="Necessites uns nous vidres?"/>
</Layout>