---
import MainButton from '../components/MainButton.astro';
import Slider from '../components/Slider.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dos Òptics">
	<main class="relative flex items-center justify-center w-full min-h-[750px] pt-20 bg-[url(/imgs/nosaltres/sala_general.jpg)] bg-cover bg-center">
		<div class="flex flex-col items-center justify-center absolute top-0 bg-black/70 text-white w-full h-full p-4 md:p-12 flex xl:justify-center items-center">
			<div class="flex items-center justify-center text-sm border border-gray-400 rounded-2xl block p-1 w-64 mb-8">
				<div class="main_green_bg w-2 h-2 rounded-full mr-2"></div>
				<p>Buscan's a <span class="font-bold">Sabadell</span></p>
			</div>
			<div class="flex flex-col text-5xl md:text-6xl text-center">
				<h1>Òptics</h1>
				<h2>Optometristes</h2>
				<h3 class="main_green_text font-bold">Especialitzats</h3>
				<p class="text-base md:w-[750px] mt-8">Treballem per millorar la salut i la qualitat de vida dels nostres pacients mitjançant tecnologies de diagnòstic i exploració avançades, combinades amb l'experiència dels nostres òptics optometristes. 
				Tot això amb l'objectiu d'oferir una atenció professional i propera.</p>
				<a class="text-base mt-8" href="nosaltres#visitans"><MainButton text="VISITAN'S"/></a>
			</div>
        </div>
	</main>

		
		<!-- SLIDER OFERTAS -->
		<section class="flex flex-col w-full pt-12 items-center justify-center">
			<h2 class="text-4xl xl:text-5xl text-center xl:w-1/3 m-12 mb-20">Ofertes i tecnologies innovadores</h2>
			<Slider />
		</section>

		<!-- SALUT AUDITIVA -->
		<section class="w-full relative flex justify-center md:justify-start items-center mt-20 bg-[#4C6663] md:bg-transparent">
			<div class="flex flex-col absolute z-20 text-white text-2xl md:text-4xl 2xl:text-5xl w-full h-2/3 pl-8 md:h-1/2 lg:pl-32">
				<p class="w-64 md:w-96 xl:w-[30rem]">També cuidem de la teva salut <span class="main_green_text font-bold">auditiva</span></p>
				<a class="text-base mt-6" href="audiologia"><MainButton text="AUDIOLOGIA"/></a>
			</div>
			<img src="/imgs/vector2_audiofon.png" alt="Audiofon phonak" class="hidden md:flex">
			<img src="/imgs/audiologia/phonak.png" alt="Audiofon phonak" class="sm:ml-48 w-80 md:hidden">
		</section>

		<!-- EL TEU ESTIL, LA NOSTRA SELECCIO -->
		<section class="flex flex-col w-full pt-12 items-center justify-center">
			<h2 class="text-4xl xl:text-5xl text-center xl:w-1/3 m-12 mb-8">El teu estil, la nostra selecció</h2>
			<a class="text-base" href="optica"><MainButton text="QUÉ OFERIM?"/></a>
			<div class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 mt-8">
				<img src="/imgs/marcas/nike/nike1.jpg" class="w-52 h-64 2xl:w-80 2xl:h-96 rounded-2xl">
				<img src="/imgs/marcas/etnia_barcelona/etnia3.jpg" class="w-52 h-64 2xl:w-80 2xl:h-96 rounded-2xl">
				<img src="/imgs/marcas/lacoste/lacoste1.jpg" class="w-52 h-64 2xl:w-80 2xl:h-96 rounded-2xl">
				<img src="/imgs/marcas/woodys/woodys4.jpg" class="w-52 h-64 2xl:w-80 2xl:h-96 rounded-2xl">
				<img src="/imgs/marcas/carolina_herrera/carolina.jpg" class="w-52 h-64 2xl:w-80 2xl:h-96 rounded-2xl">
			</div>
			<!-- Logos marcas -->
			<div class="grid items-center gap-6 grid-cols-3 md:grid-cols-6 m-12">
				<img src="/imgs/logos/etnia_logo.png" class="w-32">
				<img src="/imgs/logos/lacoste_logo.png" class="w-32">
				<img src="/imgs/logos/woodys_logo.png" class="w-32">
				<img src="/imgs/logos/carolina_logo.png" class="w-32">
				<img src="/imgs/logos/nike_logo.png" class="w-32">
				<img src="/imgs/logos/tous_logo.png" class="w-32">
			</div>
		</section>

	<section class="relative flex items-center justify-center w-full min-h-[750px] pt-20 bg-[url(/imgs/nosaltres/sala_general.jpg)] bg-cover bg-center">
		<div class="absolute top-0 bg-black/30 text-white w-full h-full p-4 md:p-12 flex xl:justify-center items-center">

			<div class="flex flex-col justify-center items-center bg-[#4C6663]/70 backdrop-blur-md xl:w-1/2 h-3/4 rounded-3xl p-8 xl:p-20">
				<h2 class="text-4xl md:text-5xl mb-6 sm:mb-12 text-center">La teva òptica de confiança a <span class="main_green_text font-bold">Sabadell</span></h2>
				<p class="text-base">Portem més de <span class="main_green_text font-bold">més de 30 anys</span> oferint serveis de revisió ocular per a totes les edats, 
					venda d’ulleres de tots els tipus i models, lentilles, audifons i més productes d’alta qualitat. </p>
				<p class="text-base">Ens diferencia l’atenció personalitzada que donem a cada client, la nostra experiencia 
					amb el tracte de tot tipus de malalties oculars o auditives i el gran catàleg d’ulleres que oferim.  </p>

				<a class="text-base mt-8" href="nosaltres"><MainButton text="SOBRE NOSALTRES"/></a>
			</div>
        </div>
	</section>
</Layout>
