---
import CardPersona from "../components/CardPersona.astro";
import Hero from "../components/Hero.astro";
import SectionInfo from "../components/SectionInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dos Òptics | Nosaltres">
    <Hero title1="Una mica sobre" title2="nosaltres" backgroundImage="nosaltres/sala_general.jpg" text="Portem més de 30 anys oferint serveis de revisió ocular per a totes les edats, venda d’ulleres de tots els tipus i models, lentilles, audifons i més productes d’alta qualitat. Ens diferencia l’atenció personalitzada que donem a cada client, la nostra experiencia amb el tracte de tot tipus de malalties oculars o auditives i el gran catàleg d’ulleres que oferim. "/>

    <!-- El factor humà -->
    <section class="flex flex-col items-center justify-center p-4 md:p-12">
        <CardPersona name="Dolors Muñoz i Arca" role="Coordinadora" imageName="dolors.jpg"
            titles={["Optometrista Comportamental","Audioprotesista", "Psicomotricista", "Terapeuta visual"]}
        />
        <CardPersona name="Jordi Salallasera i Puigbò" role="Director tècnic"  imageName="jordi.jpg"
            titles={["Optometrista Comportamental","Contactòleg", "Terapeuta visual"]}
        />
    </section>
    <SectionInfo title="Visita la nostra botiga!" backgroundImage="nosaltres/aparador.jpg" text="Vols parlar amb nosaltres? Fes-nos una visita sense compromís i estarem encantats d’ajudar-te. Ja sigui si busques un producte en específic, una revisió o un altre consulta."/>
</Layout>