---
import CardPersona from "../components/CardPersona.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dos Òptics | Nosaltres">

    <!-- Sobre nosaltres -->
    <section class="relative h-96  bg-[url(/imgs/nosaltres/sala_general.jpg)] bg-cover">
        <div class="absolute top-0 bg-black/70 text-white w-full h-full p-4 md:p-12 xl:pl-32 flex items-center">
            <div class="md:w-2/3">
                <h2 class="text-4xl md:text-5xl font-semibold mb-4 pt-8 md:mb-12 md:pt-12">Sobre nosaltres</h2>
                <p class="text-sm md:text-base">Portem més de 30 anys oferint serveis de revisió ocular per a totes les edats, venda d’ulleres de tots els tipus i models, lentilles, audifons i més productes d’alta qualitat. 
                Ens diferencia l’atenció personalitzada que donem a cada client, la nostra experiencia amb el tracte de tot tipus de malalties oculars o auditives i el gran catàleg d’ulleres que oferim. </p>
            </div>
        </div>
    </section>

    <!-- El factor humà -->
    <section class="p-4 md:p-12">
        <h3 class="text-4xl md:text-5xl font-semibold mt-4 mb-8">El factor humà</h3>
        <CardPersona name="Dolors Muñoz i Arca" role="Coordinadora" imageName="dolors.jpg"  
            titles={["DOO col. nº. 6316", "Optometrista Comportamental","Màster en teràpia visual neurocognitiva FOOT","Postgrau en desenvolupament infantil UAB","Membre de la Vocalia de Prevenció, Visió Infantil i Teràpia visual del COOOC","Formadora i professional de la unitat de Visió i Aprenentatge del CUV (UPC)","Formadora d'Òptics Optometristes","Especialista en fototeràpia Syntonic"]}
        />
        <CardPersona name="Jordi Salallasera i Puigbò" role="Director tècnic"  imageName="jordi.jpg" 
            titles={["DOO col. nº. 6795", "Optometrista Comportamental","Màster en teràpia visual neurocognitiva FOOT", "Especialitat en Contactologia avançada", "Recents especialitzacions en Optometria Pediàtrica (EEUU)"]}
        />
    </section>

    <!-- Contacta amb nosaltres -->
    <section class="flex flex-col justify-center sm:items-center bg-[url('imgs/frame.jpg')] bg-cover bg-right text-white p-4 md:p-12">
        <h3 class="text-4xl md:text-5xl font-semibold mt-4 mb-8">Contacta amb nosaltres!</h3>
        <div class="flex flex-col sm:items-center md:flex-row space-y-4 md:space-y-0 md:space-x-12">
            <!-- Trucan's -->
            <div class="card_contacta transition hover:bg-green-800 hover:shadow-xl flex flex-col justify-center items-center border border-white rounded-2xl sm:w-64 h-24 p-3">
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50">
                        <path d="M 14 3.9902344 C 8.4886661 3.9902344 4 8.4789008 4 13.990234 L 4 35.990234 C 4 41.501568 8.4886661 45.990234 14 45.990234 L 36 45.990234 C 41.511334 45.990234 46 41.501568 46 35.990234 L 46 13.990234 C 46 8.4789008 41.511334 3.9902344 36 3.9902344 L 14 3.9902344 z M 18.005859 12.033203 C 18.633859 12.060203 19.210594 12.414031 19.558594 12.957031 C 19.954594 13.575031 20.569141 14.534156 21.369141 15.785156 C 22.099141 16.926156 22.150047 18.399844 21.498047 19.589844 L 20.033203 21.673828 C 19.637203 22.237828 19.558219 22.959703 19.824219 23.595703 C 20.238219 24.585703 21.040797 26.107203 22.466797 27.533203 C 23.892797 28.959203 25.414297 29.761781 26.404297 30.175781 C 27.040297 30.441781 27.762172 30.362797 28.326172 29.966797 L 30.410156 28.501953 C 31.600156 27.849953 33.073844 27.901859 34.214844 28.630859 C 35.465844 29.430859 36.424969 30.045406 37.042969 30.441406 C 37.585969 30.789406 37.939797 31.366141 37.966797 31.994141 C 38.120797 35.558141 35.359641 37.001953 34.556641 37.001953 C 34.000641 37.001953 27.316344 37.761656 19.777344 30.222656 C 12.238344 22.683656 12.998047 15.999359 12.998047 15.443359 C 12.998047 14.640359 14.441859 11.879203 18.005859 12.033203 z"></path>
                        </svg>
                    <p class="font-bold text-xl ml-1">Trucan's</p>
                </div>
                <p>93 727 67 71</p>
                <p>640 23 28 10</p>
            </div>

            <!-- Mail -->
            <div class="transition hover:bg-green-800 hover:shadow-xl flex flex-col justify-center items-center border border-white rounded-2xl sm:w-64 h-24 p-3">
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50">
                        <path d="M 14 4 C 8.4886661 4 4 8.4886661 4 14 L 4 36 C 4 41.511334 8.4886661 46 14 46 L 36 46 C 41.511334 46 46 41.511334 46 36 L 46 14 C 46 8.4886661 41.511334 4 36 4 L 14 4 z M 13 16 L 37 16 C 37.18 16 37.349766 16.020312 37.509766 16.070312 L 27.679688 25.890625 C 26.199688 27.370625 23.790547 27.370625 22.310547 25.890625 L 12.490234 16.070312 C 12.650234 16.020312 12.82 16 13 16 z M 11.070312 17.490234 L 18.589844 25 L 11.070312 32.509766 C 11.020312 32.349766 11 32.18 11 32 L 11 18 C 11 17.82 11.020312 17.650234 11.070312 17.490234 z M 38.929688 17.490234 C 38.979688 17.650234 39 17.82 39 18 L 39 32 C 39 32.18 38.979687 32.349766 38.929688 32.509766 L 31.400391 25 L 38.929688 17.490234 z M 20 26.410156 L 20.890625 27.310547 C 22.020625 28.440547 23.510234 29 24.990234 29 C 26.480234 29 27.959844 28.440547 29.089844 27.310547 L 29.990234 26.410156 L 37.509766 33.929688 C 37.349766 33.979688 37.18 34 37 34 L 13 34 C 12.82 34 12.650234 33.979687 12.490234 33.929688 L 20 26.410156 z"></path>
                        </svg>
                    <p class="font-bold text-xl ml-1">Envian’s un mail</p>
                </div>
                <p>info@dosoptics.com</p>
            </div>

            <!-- WhatsApp -->
            <div class="transition hover:bg-green-800 hover:shadow-xl flex flex-col justify-center items-center border border-white rounded-2xl sm:w-64 h-24 p-3">
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50" class="icon">
                        <path d="M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z"></path>
                    </svg>
                    <p class="font-bold text-xl ml-1">What’sApp</p>
                </div>
                <p>+34 640 23 28 10</p>
            </div>
        </div>
    </section>

    <!-- Visitan's -->
    <section class="flex flex-col md:flex-row bg-gray-200 text-white" id="visitans">
        <div class="flex flex-col 2xl:flex-row md:w-1/2 xl:w-2/3">
            <iframe class="h-96 2xl:w-1/2 2xl:h-full" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1107.743065123982!2d2.0837586378120996!3d41.54917860772488!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4948c940f810b%3A0x4e4100ada8e9c543!2sDos%20%C3%92ptics!5e0!3m2!1ses!2ses!4v1739462181869!5m2!1ses!2ses" style="border:0;" allowfullscreen=""  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <img class=" 2xl:w-1/2" src="imgs/nosaltres/botiga.jpg" alt="Imagen tienda">
        </div>
        <div class="md:w-1/2 xl:w-1/3 relative bg-green-800 text-2xl">
            <div class="bg-black/60 w-full h-full p-8">
                <div>
                    <p class="text-4xl main_green_text font-bold mb-2">Visitan's</p>
                    <p>Carretera Terrassa, 389</p>
                    <p>08205</p>
                    <p>Sabadell BCN</p>
                </div>
                <div>
                    <p class="text-4xl main_green_text mt-12 font-bold mb-2">Horari</p>
                    <p>Dilluns a divendres:</p>
                    <p>10:00 - 13:15</p>
                    <p>17:00 - 20:30</p>
                    <p class="mt-6">Dissabtes:</p>
                    <p>10:00 - 14:00</p>
                </div>
            </div>
        </div>
    </section>
</Layout>

<style>
    svg{
        fill: white;
    }
</style>