---
import CallToAction from "../components/CallToAction.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
    var acc = document.getElementsByClassName("accordion");
    var i:number;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function(this:any) {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            var icono = null;
            for (var x = 0; x < this.childNodes.length; x++) {
                if (this.childNodes[x].className == "icono") {
                    icono = this.childNodes[x];
                    if(icono.innerHTML == "+"){
                        icono.innerHTML = "-"
                    }else{
                        icono.innerHTML = "+"
                    }
                    break;
                }        
            }

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
    }
</script>


<Layout title="Dos Òptics | Optometria">
    <Hero title1="Teràpia visual" title2="optomètrica" backgroundImage="optometria/33_COS.jpg" text="A la nostra òptica oferim serveis especialitzats d’avaluació, prevenció, diagnòstic i tractament de diverses alteracions i disfuncions visuals. Tractem afeccions com l’ambliopia (ull gandul), l’estrabisme, les disfuncions de la visió binocular, les dificultats en la lectura i els problemes relacionats amb l’atenció visual, entre d’altres."/>
    <section class="flex justify-center bg-[#F9F9F9] min-h-[550px] p-4 lg:p-2 xl:p-8">
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 justify-center items-center w-full 2xl:w-4/5">
            <Card title="Tractaments" backgroundImage="optometria/33_COS.jpg" titles={["Terapia visual", "Psicomotricitat", "Percepció visual", "Fototeràpia syntonics"]}/>
            <Card title="Avaluacions" backgroundImage="optometria/47_COS.jpg" titles={["Pediàtrica", "Aprenentatge", "Binocular i estrabismes", "Psicomotora postural i reflexos primaris"]}/>
            <Card title="Serveis a escoles" backgroundImage="optometria/43_COS.jpg" titles={["Prevenció visual primària: cribatges", "Xerrades i tallers per a docents", "Xerrada curs 6è campanya COOOC", "Visió i aprenentatge"]}/>
        </div>
    </section>
    <section class="flex flex-col items-center justify-center bg-[#F9F9F9] p-4 md:p-8 xl:p-20">
        <h2 class="text-4xl md:text-5xl md:w-2/3 xl:w-1/3 text-center pb-12">Detectem les dificultats visuals del teu fill</h2>
        <div class="flex flex-col lg:flex-row items-center justify-center md:space-x-8 2xl:w-2/3">
            <div class="flex flex-col items-center justify-center ">
                <p>Hi ha diversos <b>signes d’alerta</b> que poden indicar la presència de dificultats visuals en els infants. Algunes d’aquestes senyals poden ser: </p><br>
                <ul class="flex flex-col space-y-3">
                    <li class="relative flex items-center">
                        <span class="absolute main_green_bg w-4 h-4 rounded-full"></span>
                        <p class="pl-8">Evita activitats com la lectura o l’escriptura.</p></li>
                    <li class="relative flex items-center">
                        <span class="absolute main_green_bg w-4 h-4 rounded-full"></span>
                        <p class="pl-8">S’apropa excessivament al paper, experimenta visió doble de manera ocasional.</p></li>
                    <li class="relative flex items-center">
                        <span class="absolute main_green_bg w-4 h-4 rounded-full"></span>
                        <p class="pl-8">Es perd fàcilment en el text o necessita utilitzar el dit per seguir la lectura, repeteix o intercanvïa paraules.</p></li>
                    <li class="relative flex items-center">
                        <span class="absolute main_green_bg w-4 h-4 rounded-full"></span>
                        <p class="pl-8">Mostra una velocitat lectora baixa i/o una comprensió limitada.</p>
                    </li>
                    <li class="relative flex items-center">
                        <span class="absolute main_green_bg w-4 h-4 rounded-full"></span>
                        <p class="pl-8">Té dèficit d’atenció, o bé dificultats en la lògica i les matemàtiques.</p></li>
                    <li class="relative flex items-center">
                        <span class="absolute main_green_bg w-4 h-4 rounded-full"></span>
                        <p class="pl-8">Presenta postures corporals incorrectes durant les tasques escolars, com girar excessivament el full o inclinar el cap de manera constant.</p></li>
                </ul>
            </div>
            <img src="/imgs/optometria/13_COS.jpg" alt="Imatge COS 1" class="w-96 md:w-[30rem] mt-8 lg:mt-0 rounded-2xl">
        </div>
    </section>
    <div class="flex justify-center items-center bg-[#4C6663] font-thin w-full text-white p-4">
        <img src="/imgs/logos/dosoptics_logo-G.svg" alt="Icono" class="w-8 mr-6"/>
        <p class="md:w-2/3">Si detectes algun d’aquests símptomes en el teu fill o filla, et recomanem que <b>contactis amb nosaltres. </b>
            Realitzarem un <b>estudi optomètric complet</b> per valorar si existeix alguna alteració visual que pugui ser millorada mitjançant un programa personalitzat de teràpia visual.</p>
    </div>
    <section class="w-full flex justify-center p-2 md:p-8">
        <div class="xl:w-3/4 grid grid-cols-2 md:grid-cols-3 justify-center items-center gap-4">
            <img src=`/imgs/optometria/23_COS.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/11_COS.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/32_COS.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/37_COS.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/27_COS.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/DSC_1872.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/55_COS.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/42_COS.jpg` class="w-full rounded-2xl">
            <img src=`/imgs/optometria/36_COS.jpg` class="w-full rounded-2xl">
        </div>
    </section>

   <section class="flex flex-col items-center justify-center pb-12 pt-12 xl:p-20">
        <h2 class="text-3xl sm:text-4xl md:text-5xl pb-12">Preguntes freqüents</h2>
        <div class="w-full p-4 xl:p-0 xl:w-3/4 rounded-2xl overflow-hidden text-sm md:text-base">
            <button class="accordion">
                <p class="w-3/4">Com pot tenir el meu fill un problema visual si el metge m’ha dit que hi veu bé? </p>
                <p class="icono">+</p></button>
            <div class="panel">
                <p>Moltes disfuncions de la visió binocular no impliquen tenir mala visió, és a dir, pot ser que no necessiti ulleres, però si necessita teràpia visual per millorar símptomes, eficàcia o habilitats visuals.</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">Un optometrista pot saber si tinc lateralitat creuada?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Efectivament, en la nostra valoració detectarem l’ull dominant motor en visió llunyana, en visió propera i l’ull dominant sensorial.</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">La dislèxia es tracta amb teràpia visual?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Els optometristes no tractem la dislèxia en si, però sí els components visuals implicats si existeixen en menor o major grau.</p>
            </div>
            <button class="accordion">
                <p class="w-3/4">A les fotos hem vist que el meu fill té una mirada estranya, ho pot avaluar un optometrista?</p>
                <p class="icono">+</p>
            </button>
            <div class="panel">
                <p>Com a optometristes especialitzats en visió binocular podem detectar un petit estrabisme (microestrabisme) que moltes vegades pot passar desapercebut i només el detecta la família quan l’infant mostra signes de cansament, a les fotografies, pot ser una petita desviació dels eixos visuals. No obstant porteu al vostre fill a un especialista en estrabisme (oftalmòleg o estrabòleg), per valorar si és necessària una intervenció i moltes vegades cal que col·laborem abans i després de la intervenció amb exercicis de teràpia visual.</p>
            </div>
        </div>
   </section>
    <CallToAction title="Necessites fer una revisió?"/>
</Layout>

