<footer class="flex md:justify-center md:items-center text-sm md:text-base md:h-80 bg-gray-100 p-4 flex-col md:flex-row md:space-x-20 xl:space-x-40">
    <div class="space-y-4">
        <img src="imgs/logos/dosoptics_logo.png" alt="DosOptics logo" class="w-52">
        <div  class="md:w-64">
            <b class="w-12">Contacta amb nosaltres a traves dels telefons:</b>
            <div class="flex space-x-8">
                <p>93 727 67 71</p>
                <p>640 23 28 10</p>
            </div>
        </div>
    </div>

    <div class="flex md:flex-col space-x-8 sm:space-x-16 md:space-x-0 md:space-y-6 mt-8 md:mt-0">
        <div>
            <b>Direcció</b>
            <p>Carretera Terrassa, 389 - 08205 Sabadell BCN</p>
        </div>
        <div>
            <b>Correu electrònic</b>
            <p>info@dosoptics.com</p>
        </div>
    </div>

    <div class="flex md:flex-col space-x-16 md:space-x-0 md:space-y-6 mt-8 md:mt-0">
        <div>
            <b>Dilluns a divendres:</b>
            <p>10:00 - 13:15</p>
            <p>17:00 - 20:30</p>
        </div>
        <div>
            <b>Dissabtes:</b>
            <p>10:00 - 14:00</p>
        </div>
    </div>
</footer>