---
interface Props {
    title1: string,
	title2: string;
    backgroundImage: string;
    text: string;
}

const { title1, title2, backgroundImage, text } = Astro.props;
---

<section class=`relative flex items-center justify-center w-full min-h-[750px] pt-20 bg-cover bg-center` style=`background-image: url(/imgs/${backgroundImage})`>
    <div class="flex flex-col items-center justify-center absolute top-0 bg-black/70 text-white w-full h-full p-4 md:p-12 flex xl:justify-center items-center">
        <div class="flex flex-col text-5xl md:text-6xl text-center">
            <h2>{title1}</h2>
            <h3 class="main_green_text font-bold">{title2}</h3>
            <p class="text-base md:w-[750px] mt-8">{text}</p>
        </div>
    </div>
</section>