---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<button class="main_button">
    {text}
</button>


<style>
    .main_button{
        color: white;
        width: 15rem;
        background-color: #8EB81C;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 400;
        transition: 0.2s;
    }

    .main_button:hover{
        background-color: #789F0B;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

</style>