---
    import MainButton from "./MainButton.astro";
---

<script>
    import Swiper from 'swiper'
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';

    const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
        el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },
    });

    var buttonNext = document.getElementById("buttonNext")
    var buttonPrevious = document.getElementById("buttonPrevious")

    if(buttonNext != null){
        buttonNext.addEventListener("click", ()=>{
            swiper.slideNext();
        })
    }

    if(buttonPrevious != null){
        buttonPrevious.addEventListener("click", ()=>{
            swiper.slidePrev();
        })
    }
    
</script>

<div class="swiper bg-green-700 w-full xl:w-3/4 h-96 md:h-72 rounded-2xl text-white relative flex items-center overflow-hidden transition">
    <div class="swiper-wrapper">
        <!-- Slider content 1 -->
        <div class="swiper-slide">
            <div class=" bg-[url('imgs/Frame2.jpg')] h-full flex items-center bg-cover bg-right">
                <div class="flex flex-col md:flex-row pl-16 sm:pl-24 md:pl-28">
                    <div>
                        <p class="text-5xl md:text-6xl font-bold">OFERTA</p>
                        <p class="text-4xl md:text-5xl font-bold mb-4">Montura + Lents</p>
                        <div class="hidden md:block">
                            <MainButton text="SABER MÉS"/>
                        </div>
                    </div>
                    <div>
                        <p class="text-8xl md:text-9xl font-bold md:ml-12">79 €</p>
                    </div>
                    <div class="md:hidden mt-12">
                        <MainButton text="SABER MÉS"/>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Slider content 2 -->
        <div class="swiper-slide">
            <div class="h-full bg-[url('imgs/marcas/jos/jos1.jpg')] bg-cover bg-right flex items-center relative">
                
            </div>
        </div>
    </div>
    <!-- Button previous -->
    <div class="swiper-button-prev" id="buttonPrevious">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
    </div>

    <!-- Button next -->
    <div class="swiper-button-next" id="buttonNext">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
    </div>
    </div>

</div>

<style>

    .swiper-button-next{
        width: 72px;
        height: 52px;
        visibility: hidden;
        opacity: 0;
        transition: transform .5s ease-in, opacity .7s cubic-bezier(.15,0,.2,1) .1s;
    }

    .swiper-button-next svg{
        color: white;
        padding: 15px;
        border: 1.5px solid #fff;
        border-radius: 100%;
        background-color: black;
        visibility: visible;
    }

    .swiper-button-prev{
        width: 72px;
        height: 52px;
        visibility: hidden;
        opacity: 0;
        transition: transform .5s ease-in, opacity .7s cubic-bezier(.15,0,.2,1) .1s;
    }
    .swiper-button-prev svg{
        color: white;
        padding: 15px;
        border: 1.5px solid #fff;
        border-radius: 100%;
        background-color: black;
        visibility: visible;
    }

    .swiper:hover > .swiper-button-next{
        opacity: 1;
        transition: transform .5s ease-in, opacity .7s cubic-bezier(.15,0,.2,1) .1s;
    }
    .swiper:hover > .swiper-button-prev{
        opacity: 1;
        transition: transform .5s ease-in, opacity .7s cubic-bezier(.15,0,.2,1) .1s;
    }

    /* Cuando la pantalla sea menor de 750px, mostramos siempre los botones y los hacemos transparentes */
    @media only screen and (max-width: 750px) {
        .swiper-button-prev {
        opacity: 1;
        }
        .swiper-button-next {
            opacity: 1;
        }
        .swiper-button-prev svg{
            background-color: transparent;
        }
        .swiper-button-next svg{
            background-color: transparent;
        }
    }
</style>